<h2>Sign Up!</h2>

<form class="form signUp-form">
  <div class="form-group">
    <label for="uName">full name:</label>
    <input class="form-input" type="text" id="uName" />
  </div>

  <div class="form-group">
    <label for="email-signUp">email:</label>
    <input class="form-input" type="text" id="email-signUp" />
  </div>
  <div class="form-group">
    <label for="password-signUp">password:</label>
    <input class="form-input" type="password" id="password-signUp" />
  </div>
  <div class="form-group">
    <label for="password-signUpConf">re-enter password:</label>
    <input class="form-input" type="password" id="password-signUpConf" />
  </div>

  <div class="form-group">
    <button class="btn btn-primary" type="submit">signUp</button>
  </div>
</form>

