<div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in"  /><label for="tab-1" class="tab">Sign In</label>
    <input id="tab-2" type="radio" name="tab" class="sign-up" checked/><label for="tab-2" class="tab">Sign Up</label>

    <div class="login-form">
        {{!-- class="container mx-auto" --}}
      <form class="sign-up-htm">
        <div class="group">
          <label for="name-signup" class="label">Username</label>
          <input id="name-signup" type="text" class="input" />
        </div>
        <div class="group">
          <label for="email-signup" class="label">Email Address</label>
          <input id="email-signup" type="text" class="input" />
        </div>
        <div class="group">
          <label for="password-signup" class="label">Password</label>
          <input id="password-signup" type="password" class="input" data-type="password"/>
        </div>
        <div class="group">
            <button type="submit" class="button">Sign Up</button>
        </div>
        <div class="hr"></div>
      </form>
    </div>

  </div>
</div>

<script src="/js/signup.js"></script>