/* Books Section */

.home img {
  height: 20rem;
  margin: 20px 0;
}

/* Books Section - White Background */

.white-space img {
  height: 20rem;
  margin: 20px 0;
}

#details {
  margin: 40px 30px;
  color: #283618;
  text-align: center;
}

#details h1,
h2 h3,
h4 {
  font-size: 2rem;
}

#details h1 {
  font-weight: bold;
}

#details h2 {
  font-weight: 600;
  color: #606c38;
}

#details h3 {
  color: #606c38;
}

/* Categories */

.categories {
  align-items: center;
  color: #283618;
  background-color: cornsilk;
}

.category-header h1 {
  font-size: 5rem;
  text-align: center;
  margin: 0 20px;
  padding: 50px;
  color: #283618;
}

/* User Reviews Section */

.reviews {
  font-size: 2.3rem;
  left: 0;
  text-align: center;
  top: 50%;
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 248, 220, 0.247);
}

.reviews .reviews-slider .box {
  border: var(--border);
  padding: 2rem;
  text-align: center;
  margin: 2rem 0;
}

.reviews .reviews-slider .box img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.reviews .reviews-slider .box h3 {
  color: var(--black);
  font-size: 2.2rem;
  padding: 0.5rem 0;
}

.reviews .reviews-slider .box h4 {
  color: var(--black);
  font-size: 1.7rem;
  padding: 0.5rem 0;
}

.reviews .reviews-slider .box p {
  color: var(--light-color);
  font-size: 1.4rem;
  padding: 1rem 0;
  line-height: 2;
}

.reviews .reviews-slider .box .stars {
  padding-top: 0.5rem;
}

.reviews .reviews-slider .box .stars i {
  font-size: 1.7rem;
  color: var(--darkolive);
}
