#delete-btn {
  margin-top: 10px;
}

.disabled {
  background-color: #808080;
  color: #575757;
}

.disabled:hover {
  cursor: default;
  background-color: #808080;
  transform: translate(0, 0);
}

/* Slider */

.home img {
  height: 45rem;
  margin: 30px 0;
}

#book-center {
  text-align: center;
}

#image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#details {
  margin: 40px 30px;
  color: #283618;
}

#details h1 {
  font-size: 4.2rem;
  margin-top: 10px;
}

#details h2 {
  font-size: 3rem;
  margin-top: 20px;
}

#details h3 {
  font-size: 2rem;
  margin-top: 20px;
}

#details h4 {
  font-size: 1.8rem;
  margin-top: 20px;
  text-align: justify;
}

#details p {
  font-size: 1.8rem;
  margin-top: 70px;
}

/* Media queries */

@media (max-width: 1604px) {
  .home img {
    height: 25rem;
  }
}
