header {
  border-bottom: 1px solid #d2d2d2;
}

.homepage:hover {
  color: rgba(96, 108, 56, 0.5);
}

/* Siderbar - Left  */

.nav-list {
  position: relative;
}

.sidebar {
  height: 100vh;
  width: 240px;
  position: absolute;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 1px solid #d2d2d2;
}

.sidebar-list {
  border: none;
  background-color: unset;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  text-align: left;
  color: #111;
  width: calc(233px - 32px - 8px);
  padding: 10px 8px;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

#sidebar-buttons {
  margin: 40px -20px 0 0;
  width: 200px;
  font-weight: 500;
  font-size: 20px;
  list-style: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #283618;
  border-top: none;
}

#sidebar-buttons:hover {
  background-color: rgb(254, 250, 224, 0.5);
  transform: translate(0, -5px);
  font-weight: bolder;
}

/* Books List Dashboard */

.books-list {
  text-align: center;
  color: #283618;
}

#dash-title {
  font-size: 4rem;
  margin: 20px 0;
}

.book-database {
  margin: 30px 20px;
}

.book-database img {
  margin: 30px 20px;
  height: 25rem;
}

.container {
  margin-left: 13%;
}
