@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --darkolive: #606c38;
  --kombugreen: #283618;
  --cornsilk: ##fefae0;
  --fawn: #dda15e;
  --liverdogs: #bc6c25;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --border-hover: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

html {
  scroll-behavior: smooth;
  height: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

/* Header and Nav  */

li,
a,
button {
  font-weight: 500;
  font-size: 20px;
  color: #283618;
  text-decoration: none;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  color: #283618;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Abril Fatface', cursive;
  font-size: 1.3em;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: rgba(96, 108, 56, 1);
}

.logout {
  margin: 0 20px;
}

.dashboard:hover {
  color: rgba(96, 108, 56, 0.5);
}

#search-input {
  width: 300px;
  margin: 0 20px;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 50px;
  padding: 12px 20px;
  display: inline-block;
  text-align: center;
}

#search-input:focus {
  border: 3px solid #555;
}

button {
  padding: 9px 25px;
  background-color: rgba(96, 108, 56, 1);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(96, 108, 56, 0.8);
  transform: translate(0, -5px);
}

/* Slider */

.home {
  background: url(/image/banner-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.home .row .content {
  flex: 1 1 42rem;
  color: #283618;
}

.home .row .books-slider {
  flex: 1 1 42rem;
  text-align: center;
  margin-top: 2rem;
}

.home .row .books-slider a img {
  height: 25rem;
  transition: all 0.3s ease 0s;
}

.home .row .books-slider a:hover img {
  transform: scale(0.9);
}

.home .row .books-slider .stand {
  width: 100%;
  margin-top: -2rem;
}

.home .row .content h3 {
  color: var(--black);
  font-size: 4.5rem;
  margin: 20px 60px;
}

.home .row .content p {
  color: var(--light-color);
  font-size: 2rem;
  line-height: 2;
  padding: 1rem 0;
  margin: 20px 60px;
}

/* Categories */

.categories {
  align-items: center;
  gap: 1.5rem;
  color: #283618;
  background-color: cornsilk;
}

.category-header {
  font-size: 3.2rem;
  left: 0;
  text-align: center;
  top: 50%;
  width: 100%;
  margin: 0 20px;
  padding: 20px;
  color: #283618;
}

.category-header h3 {
  color: #283618;
  font-size: 32px;
}

#category-slider img {
  height: 70px;
  margin: 10px 50px;
}

.p-margin {
  margin: 5px 10px;
  padding-left: 10%;
}

#category-slider p {
  font-size: 2.3rem;
}

.more {
  margin: 5px 10px 80px 0;
  padding-left: 3%;
}

.scifi {
  margin: 5px 10px 80px 0;
  padding-left: 25%;
}

.fantasy {
  margin: 5px 10px 80px 0;
  padding-left: 25%;
}

.categories-button-next,
.categories-button-prev {
  border: var(--border-hover);
  height: 4rem;
  width: 4rem;
  color: white;
  background: var(--darkolive);
  transition: all 0.3s ease 0s;
}

.categories-button-next::after,
.categories-button-prev::after {
  font-size: 2rem;
}

.categories-button-next:hover,
.categories-button-prev:hover {
  background: rgba(0, 0, 0, 0);
  color: #fff;
}

/* Recommended Section  */

.heading {
  margin: 30px;
  color: var(--kombugreen);
  text-align: center;
  font-size: 3.2rem;
  left: 0;
  top: 50%;
  width: 100%;
}

.recommended .recommended-slider .box {
  margin: 2rem 0;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.recommended .recommended-slider .box:hover {
  border: var(--border-hover);
}

.recommended .recommended-slider .box .image {
  padding: 1rem;
  background: linear-gradient(15deg, #eee 30%, #fff 30%);
}

.recommended .recommended-slider .box:hover .image {
  transform: translateY(1rem);
  transition: all 0.3s ease 0s;
}

.recommended .recommended-slider .box .image img {
  height: 25rem;
}

.recommended .recommended-slider .box .content {
  background: #eee;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.new-books {
  font-size: 2rem;
  color: var(--kombugreen);
}

.swiper-button-next,
.swiper-button-prev {
  border: var(--border-hover);
  height: 4rem;
  width: 4rem;
  color: white;
  background: var(--darkolive);
  transition: all 0.3s ease 0s;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: rgba(0, 0, 0, 0);
  color: #fff;
}

/* User Reviews Section */

.reviews {
  font-size: 2.3rem;
  left: 0;
  text-align: center;
  top: 50%;
  width: 100%;
  padding: 20px;
}

.reviews .reviews-slider .box {
  border: var(--border);
  padding: 2rem;
  text-align: center;
  margin: 2rem 0;
}

.reviews .reviews-slider .box img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.reviews .reviews-slider .box h3 {
  color: var(--black);
  font-size: 2.2rem;
  padding: 0.5rem 0;
}

.reviews .reviews-slider .box h4 {
  color: var(--black);
  font-size: 1.7rem;
  padding: 0.5rem 0;
}

.reviews .reviews-slider .box p {
  color: var(--light-color);
  font-size: 1.4rem;
  padding: 1rem 0;
  line-height: 2;
}

.reviews .reviews-slider .box .stars {
  padding-top: 0.5rem;
}

.reviews .reviews-slider .box .stars i {
  font-size: 1.7rem;
  color: var(--darkolive);
}

/* Footer Section */

footer {
  z-index: 100;
  padding-top: 75px;
  padding-bottom: 65px;
  background-color: var(--kombugreen);
  font-size: 1.4rem;
  /* position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center; */
}

.footer-text h1 {
  color: #fff;
  text-align: center;
  padding: 10px;
}

.footer-text h3 {
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 2rem;
}

footer .logo-footer {
  color: white;
  text-transform: uppercase;
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
}

.git-icons {
  text-align: center;
}

.git-icons .fab {
  padding: 30px;
  font-size: 20px;
  color: #edf0f1;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.git-icons .fab:hover {
  color: var(--fawn);
}

.carousel-img {
  box-shadow: -5px 5px 10px #818181;
}

/* Media queries */

@media (max-width: 1604px) {
  header {
    padding: 40px;
  }
  .hide {
    display: none;
  }
}
